<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Box_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" type="text" readonly="readonly" value="{$row.box_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
            <a href="{$row.image}" data-url="{$row.image}" target="_blank" class="thumbnail">
                <img src="{$row.image}" onerror="this.src='/LwhJtcNoFE.php/ajax/icon?suffix=png';this.onerror=null;" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coin_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coin_price" class="form-control" type="number" readonly="readonly" value="{$row.coin_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rmb_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rmb_price" class="form-control" step="0.01" type="number" readonly="readonly" value="{$row.rmb_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" class="form-control" type="number" readonly="readonly" value="{$row.num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coin_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-coin_amount" class="form-control" type="number" readonly="readonly" value="{$row.coin_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Rmb_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rmb_amount" class="form-control" step="0.01" type="number" readonly="readonly" value="{$row.rmb_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_nickname" class="form-control" type="text" readonly="readonly" value="{$row.userinfo.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_mobile" class="form-control" type="text" readonly="readonly" value="{$row.userinfo.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User avatar')}:</label>
        <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
            <a href="{$row.userinfo.avatar}" data-url="{$row.userinfo.avatar}" target="_blank" class="thumbnail">
                <img src="{$row.userinfo.avatar}" onerror="this.src='/LwhJtcNoFE.php/ajax/icon?suffix=png';this.onerror=null;" class="img-responsive img-circle">
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_method"  class="form-control" type="text" readonly="readonly" value="{$row.pay_method|__|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_coin')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_coin" class="form-control" type="number" readonly="readonly" value="{$row.pay_coin|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_rmb')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_rmb" class="form-control" step="0.01" type="number" readonly="readonly" value="{$row.pay_rmb|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Out_trade_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-out_trade_no" class="form-control" type="text" readonly="readonly" value="{$row.out_trade_no|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Transaction_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-transaction_id" class="form-control" type="text" readonly="readonly" value="{$row.transaction_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_time" class="form-control" type="text" readonly="readonly" value="{:$row.pay_time_text}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" type="text" readonly="readonly" value="{:$row.status_text}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control" type="text" value="{:$row.create_time_text}" readonly="readonly">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        </div>
    </div>
</form>
