@charset "utf-8";

body{background-color: var(--wx_color2);}
.bg_white{background-color: white;}
.address{
	padding-bottom: 3.5rem;
	overflow: hidden;
}
.address li{
	margin-top: 0.5rem;
	background: white;
	font-size: 0.7rem;
	color: #666;
	padding-top: 0.5rem;
	overflow: hidden;
}
.address img{
	width: 1.1rem;
	height: 1.1rem;
	vertical-align: middle;
}
.address .name{
	float: left;
	margin-left: 0.85rem;
}
.address .num{
	float: right;
	margin-right: 0.9rem;
}
.address .dz{
	color: #999;
	margin-top: 0.2rem;
	margin-left: 0.85rem;
	margin-right: 0.9rem;
}
.fgx{
	width: 100%;
	height: 1px;
	background: #cecece;
	margin-top: 0.7rem;
}
.address .mr{
	float: left;
	padding:0.5rem 0;
	margin-left: 0.85rem;
}
.address .mr span{
	position: relative;
	top:1px;
	left:0.2rem;
}
.color{
	color: var(--wx_color)
}
.address .right{
	float: right;
	margin-right: 0.9rem;
	margin-top: 0.525rem;
}
.address .right .xian{
	display: inline-block;
	padding:0 0.3rem;
	margin-top: -0.1rem;
	color: #e7e7e7;
}
.address a{
	color: #666
}

.fixed{
	width: 15.25rem;
    height: 2rem;
    line-height: 2rem;
    position: fixed;
    bottom: 0.75rem;
    left: 50%;
    margin-left: -7.625rem;
    z-index: 999;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    background: -webkit-linear-gradient(var(--wx_color), var(--wx_color1));
    background: -o-linear-gradient(var(--wx_color), var(--wx_color1));
    background: -moz-linear-gradient(var(--wx_color), var(--wx_color1));
    background: linear-gradient(var(--wx_color), var(--wx_color1));
    box-shadow: 0 0.25rem 0.5rem var(--wx_color)
}
.fixed a{
	color: white;
	width: 100%;
	display: block;
}


/*删除弹窗*/
.tipmodel{
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:999;
    overflow:hidden;
}
.tipmodel_box{
    display: table;
    width: 68%;
    font-size: 0.75rem;
    padding:1rem ;
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
}
.tipmodel_box .xx{
	float: right
}
.tipmodel_box .xx span{
	color: var(--wx_color);
	display: inline-block;
	margin-top: 0.5rem;
	margin-right:1rem;
}