@charset "utf-8";
html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;/*取消浏览器最小字体限制*/
}

input[type="submit"], input[type="reset"], input[type="button"], input:focus, button:focus, select:focus, textarea:focus {
	outline: none;
}

input {
	font-family: "微软雅黑";
	-webkit-appearance: none;
	resize: none;
	border-radius: 0;
}

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	-ms-interpolation-mode: bicubic;
}

body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: none;
}

em, i {
	font-style: normal;
}

strong {
	font-weight: normal;
}

a {
	text-decoration: none;
}

ul, ol {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.flex{
	display: flex;
}
.flex-center{
	display: flex;
	align-items: center;
}
.flex-center-center{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-end{
	display: flex;
	align-items: flex-end;
}
.flex-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 1.3rem;
	font-size: 0.7rem;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
}
.flex-direction{
	display: flex;
	flex-direction:column;
}
.ellipsis01{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.ellipsis02{
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
body {
	margin: 0 auto;
	font-size: 0.6rem;
	-webkit-text-size-adjust: none!important;/*取消浏览器最小字体限制*/
	-webkit-overflow-scrolling: touch;/*流畅滚动*/
	font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
	-webkit-tap-highlight-color: transparent;
}
.w702{
	width: 17.55rem!important;
	margin:auto;
}


/*弹窗*/
.tipmodel {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}

/*底部*/
.yellow{
	color: var(--wx_color);
}
.pb_120{
	padding-bottom: 3.0rem;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	z-index: 9;
}
footer ul{
	display: flex;
}
footer li{
	flex: 1;
	text-align: center;
}
footer img{
	width: 1.25rem;
	height: 1.25rem;
	padding-top: 0.25rem;
	vertical-align: middle;
}
footer p{
	color: #565656;
	font-size: 0.45rem;
	line-height: 0.5rem;
	font-weight:400;
	padding-top: 0.25rem;
	padding-bottom: 0.325rem;
}

/*挑战失败*/
.tzsb{
	width: 2.75rem;
	height: 2.75rem;
	padding-left: 0.75rem;
}
/*暂无数据*/
.empty{
	text-align: center;
	margin-top: 1.5rem;
}
.empty h1{
	color: #FF9B00;
	font-weight:bold;
	font-size: 0.95rem;
	letter-spacing: 1px;
	text-indent: 1px;
}
.empty p{
	color: #AF9C9C;
	font-size:0.85rem;
	letter-spacing: 1px;
	text-indent: 1px;
	padding-top: 0.7rem;
	padding-bottom: 1.675rem;
}
.empty img{
	width: 7.85rem;
	height: 2.625rem;
}
