<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nickname" class="form-control" type="text" readonly="readonly" value="{$row.nickname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" class="form-control" type="text" readonly="readonly" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('avatar')}:</label>
        <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
            <a href="{$row.avatar}" data-url="{$row.avatar}" target="_blank" class="thumbnail">
                <img src="{$row.avatar}" onerror="this.src='/LwhJtcNoFE.php/ajax/icon?suffix=png';this.onerror=null;" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_name" class="form-control" type="text" readonly="readonly" value="{$row.goods_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_image')}:</label>
        <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
            <a href="{$row.goods_image}" data-url="{$row.goods_image}" target="_blank" class="thumbnail">
                <img src="{$row.goods_image}" onerror="this.src='/LwhJtcNoFE.php/ajax/icon?suffix=png';this.onerror=null;" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_coin_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_coin_price" class="form-control" type="number" readonly="readonly" value="{$row.goods_coin_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_rmb_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_rmb_price" class="form-control" type="number" readonly="readonly" value="{$row.goods_rmb_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" class="form-control" readonly="readonly" value="{$row.status_text|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exchange_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exchange_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" type="text" readonly="readonly" value="{:$row.exchange_time?datetime($row.exchange_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_time" class="form-control" type="number" readonly="readonly" value="{$row.delivery_time|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" type="text" readonly="readonly" value="{:$row.create_time?datetime($row.create_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        </div>
    </div>
</form>
