<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_name" class="form-control" type="text" readonly="readonly" value="{$row.goods_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_image')}:</label>
        <div class="col-xs-12 col-sm-2 col-lg-2 col-md-2">
            <a href="{$row.goods_image}" data-url="{$row.goods_image}" target="_blank" class="thumbnail">
                <img src="{$row.goods_image}" onerror="this.src='/LwhJtcNoFE.php/ajax/icon?suffix=png';this.onerror=null;" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-username" class="form-control" type="text" readonly="readonly" value="{$row.username|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" class="form-control" type="number" readonly="readonly" value="{$row.mobile|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" type="text" readonly="readonly" value="{$row.address|htmlentities}">
        </div>
    </div>

    {// 未完成的订单，可以修改快递信息}
    {if 'finished' != $row['status']}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_id" data-rule="required" data-source="trade/delivery/selectpage" data-field="post_name" data-primary-key="post_code" class="form-control selectpage" name="row[post_code]" type="text" value="{$row.post_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_number" data-rule="required" class="form-control" type="text" name="row[delivery_number]" value="{$row.delivery_number|htmlentities}">
            <input id="c-status_delivery" class="form-control" type="hidden" name="row[status]" value="unreceived">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-danger btn-embossed disabled">{:__('确认发货')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    {else}
    {// 已完成订单，只能查看}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Post_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-post_name" class="form-control" type="text" readonly="readonly" value="{$row.post_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Delivery_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-delivery_number_show" class="form-control" type="text" readonly="readonly" value="{$row.delivery_number|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status_finished" class="form-control" type="text" readonly="readonly" value="已完成">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>
        </div>
    </div>
    {/if}
</form>
