<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

   
   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Box_mc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-box_name" data-rule="required" class="form-control" name="row[box_mc]" type="text">
        </div>
    </div>
    
  
    
     <div class="form-group row">
        <label class="control-label col-xs-12 col-sm-2">{:__('Box_tx')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-files2" data-rule="required" class="form-control" size="50" name="row[box_tx]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-files2" class="btn btn-danger plupload" data-input-id="c-files2" data-mimetype="*" data-multiple="true" data-preview-id="p-files2"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-files2" class="btn btn-primary fachoose" data-input-id="c-files2" data-mimetype="*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-files2"></span>
            </div>

            <!--ul需要添加 data-template和data-name属性，并一一对应且唯一 -->
            <ul class="row list-inline plupload-preview" id="p-files2" data-template="introtpl2" data-name="row[box_tx]">  </ul>

            <!--请注意 ul和textarea间不能存在其它任何元素，实际开发中textarea应该添加个hidden进行隐藏-->
            <!--textarea name="row[box_banner_images_desc]" class="form-control hidden" hidden style="margin-top:5px;"></textarea-->

            <!--这里自定义图片预览的模板 开始-->
            <script type="text/html" id="introtpl2">
                <li class="col-xs-3">
                    <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail">
                        <img src="<%=fullurl%>" class="img-responsive">
                    </a>
                    <!--input type="text" name="row[intro][<%=index%>]" class="form-control" placeholder="请输入文件描述" value="<%=value?value:''%>"/-->
                    <a href="javascript:;" class="btn btn-danger btn-xs btn-trash"><i class="fa fa-trash"></i></a>
                </li>
            </script>
            <!--这里自定义图片预览的模板 结束-->
        </div>
    </div>
  
  
    
    
    
    
    
      <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Box_zw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-box_name" data-rule="required" class="form-control" name="row[box_zw]" type="text">
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-xs-12 col-sm-2">{:__('Box_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-files" data-rule="required" class="form-control" size="50" name="row[box_img]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-files" class="btn btn-danger plupload" data-input-id="c-files" data-mimetype="*" data-multiple="true" data-preview-id="p-files"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-files" class="btn btn-primary fachoose" data-input-id="c-files" data-mimetype="*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-files"></span>
            </div>

            <!--ul需要添加 data-template和data-name属性，并一一对应且唯一 -->
            <ul class="row list-inline plupload-preview" id="p-files" data-template="introtpl" data-name="row[box_img]">  </ul>

            <!--请注意 ul和textarea间不能存在其它任何元素，实际开发中textarea应该添加个hidden进行隐藏-->
            <!--textarea name="row[box_banner_images_desc]" class="form-control hidden" hidden style="margin-top:5px;"></textarea-->

            <!--这里自定义图片预览的模板 开始-->
            <script type="text/html" id="introtpl">
                <li class="col-xs-3">
                    <a href="<%=fullurl%>" data-url="<%=url%>" target="_blank" class="thumbnail">
                        <img src="<%=fullurl%>" class="img-responsive">
                    </a>
                    <!--input type="text" name="row[intro][<%=index%>]" class="form-control" placeholder="请输入文件描述" value="<%=value?value:''%>"/-->
                    <a href="javascript:;" class="btn btn-danger btn-xs btn-trash"><i class="fa fa-trash"></i></a>
                </li>
            </script>
            <!--这里自定义图片预览的模板 结束-->
        </div>
    </div>
  
  
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
