@charset "UTF-8";
.uedbody {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  width: 652px;
  position: fixed;
  padding: 2px 0px 0px 2px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 811213;
  font-family: "微软雅黑";
  font-size: 12px;
  margin: 0px auto; }
  .uedbody div, .uedbody dl, .uedbody dt, .uedbody dd, .uedbody ul, .uedbody li, .uedbody ol, .uedbody h1, .uedbody h2, .uedbody h3, .uedbody h4, .uedbody h5, .uedbody h6, .uedbody pre, .uedbody code, .uedbody form, .uedbody fieldset, .uedbody legend, .uedbody button, .uedbody textarea, .uedbody blockquote, .uedbody p {
    margin: 0;
    padding: 0; }
  .uedbody h1, .uedbody h2, .uedbody h3, .uedbody h4, .uedbody h5, .uedbody h6 {
    font-weight: normal; }
  .uedbody li {
    list-style-type: none; }
  .uedbody ol, .uedbody ul, .uedbody dl {
    list-style: none; }
  .uedbody em {
    font-style: normal; }
  .uedbody img {
    border: none;
    vertical-align: middle; }
  .uedbody select, .uedbody label, .uedbody input {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    outline: medium;
    font-size: 12px; }
  .uedbody textarea {
    resize: none;
    line-height: 18px; }
  .uedbody table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cell: show; }
  .uedbody a {
    text-decoration: none;
    color: #333;
    outline: none;
    cursor: pointer; }
  .uedbody a:hover {
    cursor: pointer;
    blr: expression(this.onFocus=this.blur()); }
  .uedbody * {
    padding: 0;
    margin: 0;
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important; }
  .uedbody .clearfix:before, .uedbody .clearfix:after {
    content: "";
    display: table; }
  .uedbody .clearfix:after {
    clear: both; }
  .uedbody .clearfix {
    *zoom: 1; }
  .uedbody .fr {
    float: right; }
  .uedbody .fl {
    float: left; }
  .uedbody .ued_title {
    height: 26px;
    border-bottom: 1px solid #C6C6C6;
    background: transparent url("images/dialog-title-bg.png") repeat-x scroll 0% 0%;
    position: relative;
    cursor: move; }
    .uedbody .ued_title .icon {
      background: url("images/icons-all.gif") no-repeat center; }
    .uedbody .ued_title .uedbar span {
      font-weight: bold;
      font-size: 14px;
      color: #444;
      line-height: 26px;
      padding-left: 5px; }
    .uedbody .ued_title .close_btn {
      height: 20px;
      width: 20px;
      cursor: pointer;
      background-position: 0px -59px;
      position: absolute;
      right: 5px;
      top: 3px; }
      .uedbody .ued_title .close_btn:hover {
        background-position: 0px -89px; }
  .uedbody .btn {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 5px;
    padding: 4px 10px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    border-radius: 3px;
    -moz-user-select: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 5px 14px; }
  .uedbody .btn-default {
    border: 1px solid #CFCFCF;
    color: #565656;
    background: #ffffff; }
    .uedbody .btn-default:hover {
      background: #f0f0f0; }
  .uedbody .btn-primary {
    background: #00b7ee;
    color: #ffffff; }
    .uedbody .btn-primary:hover {
      background: #00a2d4; }
  .uedbody .btn.disabled {
    cursor: not-allowed;
    opacity: .65; }
    .uedbody .btn.disabled:hover {
      background: #00b7ee; }
  .uedbody .wrapper {
    width: 630px;
    height: 380px;
    margin: 0px auto;
    padding: 10px;
    position: relative;
    font-family: sans-serif; }
    .uedbody .wrapper .wra_head span {
      float: left;
      padding: 0px 5px;
      margin-right: 3px;
      height: 30px;
      border: 1px solid #CCC;
      background: transparent url("images/dialog-title-bg.png") repeat-x scroll 0% 0%;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      position: relative; }
    .uedbody .wrapper .wra_head span.focus {
      height: 31px;
      border-bottom: medium none;
      background: #FFF none repeat scroll 0% 0%;
      position: relative;
      z-index: 2; }
    .uedbody .wrapper .wra_body {
      width: 100%;
      height: 346px;
      clear: both;
      margin: 0px auto;
      border: 1px solid #CCC;
      display: block;
      clip: auto;
      overflow: hidden;
      top: -1px;
      position: relative; }
      .uedbody .wrapper .wra_body .upload-panel .wra_pla {
        zoom: 1;
        overflow: hidden;
        text-align: center; }
        .uedbody .wrapper .wra_body .upload-panel .wra_pla .upload-image-placeholder {
          margin: 10px;
          border: 2px dashed #e6e6e6;
          height: 172px;
          padding-top: 150px;
          text-align: center;
          background: url("images/image.png") center 70px no-repeat;
          position: relative;
          top: 0; }
          .uedbody .wrapper .wra_body .upload-panel .wra_pla .upload-image-placeholder .webuploader-element-invisible {
            opacity: 0;
            width: 0;
            height: 0; }
          .uedbody .wrapper .wra_body .upload-panel .wra_pla .upload-image-placeholder .image-select {
            padding: 10px 30px;
            cursor: pointer; }
      .uedbody .wrapper .wra_body .upload-panel .image-list-box .wra_bar {
        border-bottom: 1px solid #DADADA;
        padding: 8px;
        vertical-align: middle;
        position: relative;
        zoom: 1;
        overflow: hidden; }
        .uedbody .wrapper .wra_body .upload-panel .image-list-box .wra_bar .info {
          font-size: 14px;
          color: #666;
          margin-top: 6px; }
        .uedbody .wrapper .wra_body .upload-panel .image-list-box .wra_bar .fr .btn {
          padding: 6px 15px; }
      .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist {
        list-style: outside none none;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        height: 300px; }
        .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li {
          width: 113px;
          height: 113px;
          margin: 9px 0px 0px 9px;
          position: relative;
          display: block;
          float: left;
          overflow: hidden;
          font-size: 12px; }
          .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .imgWrap {
            position: relative;
            vertical-align: middle;
            text-align: center;
            overflow: hidden;
            width: 113px;
            height: 113px;
            transform-origin: 50% 50% 0px;
            transition: all 200ms ease-out 0s; }
          .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box {
            position: absolute;
            display: none;
            background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
            width: 100%;
            top: 0px;
            left: 0px;
            overflow: hidden; }
            .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box span {
              width: 24px;
              height: 24px;
              display: inline;
              float: right;
              text-indent: -9999px;
              overflow: hidden;
              background: url("images/icons.png") no-repeat;
              margin: 5px 1px 1px;
              cursor: pointer;
              -webkit-tap-highlight-color: transparent;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
            .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .remove {
              background-position: -48px -24px; }
              .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .remove:hover {
                background-position: -48px -0px; }
            .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .rotateRight {
              display: none;
              background-position: -24px -24px; }
              .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .rotateRight:hover {
                background-position: -24px -0px; }
            .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .rotateLeft {
              display: none;
              background-position: 0px -24px; }
              .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .file-opt-box .rotateLeft:hover {
                background-position: 0px 0px; }
          .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .success {
            background: url("images/success.png") no-repeat right;
            position: absolute;
            display: none;
            left: 0px;
            bottom: 0px;
            height: 40px;
            width: 100%; }
          .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .error {
            position: absolute;
            width: 100%;
            display: none;
            background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
            left: 0;
            padding: 5px 3px;
            color: #cc0000;
            border: 1px solid #cccccc;
            bottom: 0; }
          .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .progress {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            bottom: 0;
            height: 8px;
            overflow: hidden;
            z-index: 50;
            margin: 0;
            border-radius: 0;
            background: none;
            -webkit-box-shadow: 0 0 0; }
            .uedbody .wrapper .wra_body .upload-panel .image-list-box .filelist li .progress span {
              width: 0;
              height: 100%;
              background: #1483d8 url("images/progress.png") repeat-x;
              -webit-transition: width 200ms linear;
              -moz-transition: width 200ms linear;
              -o-transition: width 200ms linear;
              -ms-transition: width 200ms linear;
              transition: width 200ms linear;
              -webkit-animation: progressmove 2s linear infinite;
              -moz-animation: progressmove 2s linear infinite;
              -o-animation: progressmove 2s linear infinite;
              -ms-animation: progressmove 2s linear infinite;
              animation: progressmove 2s linear infinite;
              -webkit-transform: translateZ(0); }
      .uedbody .wrapper .wra_body .online {
        width: 100%;
        height: 336px;
        padding: 10px 0px 0px;
        display: none; }
        .uedbody .wrapper .wra_body .online .imagelist {
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          position: relative; }
          .uedbody .wrapper .wra_body .online .imagelist .list li {
            float: left;
            display: block;
            list-style: outside none none;
            padding: 0px;
            width: 113px;
            height: 113px;
            margin: 0px 0px 9px 9px;
            background-color: #EEE;
            overflow: hidden;
            cursor: pointer;
            position: relative; }
            .uedbody .wrapper .wra_body .online .imagelist .list li img {
              cursor: pointer; }
            .uedbody .wrapper .wra_body .online .imagelist .list li span.ic {
              position: absolute;
              top: 0px;
              left: 0px;
              cursor: pointer;
              width: 113px;
              height: 113px; }
              .uedbody .wrapper .wra_body .online .imagelist .list li span.ic .img-size {
                font-size: 12px;
                padding: 5px;
                background: rgba(0, 0, 0, 0.6);
                display: none;
                color: #ffffff; }
              .uedbody .wrapper .wra_body .online .imagelist .list li span.ic:hover {
                width: 107px;
                height: 107px;
                border: 3px solid #1094FA;
                background-position: 72px 72px; }
                .uedbody .wrapper .wra_body .online .imagelist .list li span.ic:hover .img-size {
                  display: inline-block;
                  width: 97px; }
            .uedbody .wrapper .wra_body .online .imagelist .list li span.selected {
              background: url("images/success.png") no-repeat 75px 75px; }
      .uedbody .wrapper .wra_body .searchbox {
        width: 100%;
        padding: 10px 0px 0px;
        zoom: 1;
        overflow: hidden;
        display: none; }
        .uedbody .wrapper .wra_body .searchbox .search-bar .searTxt {
          margin-left: 5px;
          background: #FFF none repeat scroll 0% 0%;
          width: 300px;
          height: 21px;
          line-height: 21px;
          padding: 3px 6px;
          font-size: 14px;
          line-height: 1.42857;
          border: 1px solid #CCC;
          border-radius: 4px;
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
          transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
          margin-right: 10px; }
        .uedbody .wrapper .wra_body .searchbox .search-bar .searchBtn {
          color: #FFF;
          border-color: #285E8E;
          background-color: #3B97D7; }
        .uedbody .wrapper .wra_body .searchbox .search-bar .searchRese {
          color: #333;
          border-color: #CCC;
          background-color: #FFF; }
        .uedbody .wrapper .wra_body .searchbox .search-imagelist-box {
          width: 100%;
          height: 292px;
          overflow-x: hidden;
          overflow-y: auto;
          position: relative;
          margin-top: 10px; }
          .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list {
            zoom: 1;
            overflow: hidden; }
            .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li {
              float: left;
              display: block;
              list-style: outside none none;
              padding: 0px;
              width: 113px;
              height: 113px;
              margin: 0px 0px 9px 9px;
              background-color: #EEE;
              overflow: hidden;
              cursor: pointer;
              position: relative; }
              .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li img {
                cursor: pointer; }
              .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li span.ic {
                position: absolute;
                top: 0px;
                left: 0px;
                cursor: pointer;
                width: 113px;
                height: 113px; }
                .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li span.ic .img-size {
                  font-size: 12px;
                  padding: 5px;
                  background: rgba(0, 0, 0, 0.6);
                  display: none;
                  color: #ffffff; }
                .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li span.ic:hover {
                  width: 107px;
                  height: 107px;
                  border: 3px solid #1094FA;
                  background-position: 72px 72px;
                  overflow: hidden; }
                  .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li span.ic:hover .img-size {
                    display: inline-block;
                    width: 97px; }
              .uedbody .wrapper .wra_body .searchbox .search-imagelist-box .search-list li span.selected {
                background: url("images/success.png") no-repeat 75px 75px; }
      .uedbody .wrapper .wra_body .no-data {
        line-height: 40px;
        height: 40px;
        font-size: 14px;
        color: #999999;
        text-align: center;
        display: none; }
        .uedbody .wrapper .wra_body .no-data .error {
          color: #cc0000; }
      .uedbody .wrapper .wra_body .loading-icon {
        background: rgba(0, 0, 0, 0.4) url("images/loader.gif") no-repeat center center;
        position: absolute;
        width: 100%;
        height: 346px;
        top: 0;
        left: 0;
        display: none;
        text-align: center; }
        .uedbody .wrapper .wra_body .loading-icon .loading-message {
          position: absolute;
          font-size: 14px;
          color: #f0f0f0;
          top: 210px;
          left: 253px; }
      .uedbody .wrapper .wra_body .icon-placeholder {
        background-size: 113px 113px;
        display: block;
        width: 113px;
        height: 113px; }
      .uedbody .wrapper .wra_body .icon-aep, .uedbody .wrapper .wra_body .icon-aepx {
        background-image: url("icons/aep.png"); }
      .uedbody .wrapper .wra_body .icon-asp {
        background-image: url("icons/asp.png"); }
      .uedbody .wrapper .wra_body .icon-avi {
        background-image: url("icons/avi.png"); }
      .uedbody .wrapper .wra_body .icon-c, .uedbody .wrapper .wra_body .icon-cpp {
        background-image: url("icons/c.png"); }
      .uedbody .wrapper .wra_body .icon-conf {
        background-image: url("icons/conf.png"); }
      .uedbody .wrapper .wra_body .icon-css {
        background-image: url("icons/css.png"); }
      .uedbody .wrapper .wra_body .icon-htm, .uedbody .wrapper .wra_body .icon-html {
        background-image: url("icons/htm.png"); }
      .uedbody .wrapper .wra_body .icon-default {
        background-image: url("icons/txt.png"); }
      .uedbody .wrapper .wra_body .icon-doc, .uedbody .wrapper .wra_body .icon-docx {
        background-image: url("icons/doc.png"); }
      .uedbody .wrapper .wra_body .icon-eps {
        background-image: url("icons/eps.png"); }
      .uedbody .wrapper .wra_body .icon-fla, .uedbody .wrapper .wra_body .icon-swf {
        background-image: url("icons/fla.png"); }
      .uedbody .wrapper .wra_body .icon-idn {
        background-image: url("icons/idn.png"); }
      .uedbody .wrapper .wra_body .icon-ini {
        background-image: url("icons/ini.png"); }
      .uedbody .wrapper .wra_body .icon-java, .uedbody .wrapper .wra_body .icon-jar, .uedbody .wrapper .wra_body .icon-war {
        background-image: url("icons/java.png"); }
      .uedbody .wrapper .wra_body .icon-js {
        background-image: url("icons/js.png"); }
      .uedbody .wrapper .wra_body .icon-jsf {
        background-image: url("icons/jsf.png"); }
      .uedbody .wrapper .wra_body .icon-md, .uedbody .wrapper .wra_body .icon-markdown {
        background-image: url("icons/markdown.png"); }
      .uedbody .wrapper .wra_body .icon-mdb {
        background-image: url("icons/mdb.png"); }
      .uedbody .wrapper .wra_body .icon-midi {
        background-image: url("icons/midi.png"); }
      .uedbody .wrapper .wra_body .icon-mov {
        background-image: url("icons/mov.png"); }
      .uedbody .wrapper .wra_body .icon-mp3 {
        background-image: url("icons/mp3.png"); }
      .uedbody .wrapper .wra_body .icon-mpeg {
        background-image: url("icons/mpeg.png"); }
      .uedbody .wrapper .wra_body .icon-pdf {
        background-image: url("icons/pdf.png"); }
      .uedbody .wrapper .wra_body .icon-php {
        background-image: url("icons/php.png"); }
      .uedbody .wrapper .wra_body .icon-ppt, .uedbody .wrapper .wra_body .icon-pptx {
        background-image: url("icons/ppt.png"); }
      .uedbody .wrapper .wra_body .icon-psd {
        background-image: url("icons/psd.png"); }
      .uedbody .wrapper .wra_body .icon-pst {
        background-image: url("icons/pst.png"); }
      .uedbody .wrapper .wra_body .icon-pub {
        background-image: url("icons/pub.png"); }
      .uedbody .wrapper .wra_body .icon-py {
        background-image: url("icons/py.png"); }
      .uedbody .wrapper .wra_body .icon-rb {
        background-image: url("icons/rb.png"); }
      .uedbody .wrapper .wra_body .icon-rm, .uedbody .wrapper .wra_body .icon-rmvb {
        background-image: url("icons/rmvb.png"); }
      .uedbody .wrapper .wra_body .icon-scss {
        background-image: url("icons/scss.png"); }
      .uedbody .wrapper .wra_body .icon-tif {
        background-image: url("icons/tif.png"); }
      .uedbody .wrapper .wra_body .icon-txt {
        background-image: url("icons/txt.png"); }
      .uedbody .wrapper .wra_body .icon-vsd {
        background-image: url("icons/vsd.png"); }
      .uedbody .wrapper .wra_body .icon-wav {
        background-image: url("icons/wav.png"); }
      .uedbody .wrapper .wra_body .icon-wma {
        background-image: url("icons/wma.png"); }
      .uedbody .wrapper .wra_body .icon-wmv {
        background-image: url("icons/wmv.png"); }
      .uedbody .wrapper .wra_body .icon-xls, .uedbody .wrapper .wra_body .icon-xlsx {
        background-image: url("icons/xls.png"); }
      .uedbody .wrapper .wra_body .icon-xml {
        background-image: url("icons/xml.png"); }
      .uedbody .wrapper .wra_body .icon-zip, .uedbody .wrapper .wra_body .icon-rar, .uedbody .wrapper .wra_body .icon-tgz, .uedbody .wrapper .wra_body .icon-gz, .uedbody .wrapper .wra_body .icon-tar, .uedbody .wrapper .wra_body .icon-7z {
        background-image: url("icons/zip.png"); }
    .uedbody .wrapper .wra_body_server {
      height: 380px; }
      .uedbody .wrapper .wra_body_server .online {
        display: block !important;
        height: 365px; }
  .uedbody .wra-btn-group {
    clear: both;
    zoom: 1;
    text-align: right;
    padding: 10px 20px 20px 0px; }
    .uedbody .wra-btn-group .tip-text {
      float: left;
      padding: 5px 10px;
      color: #999;
      font-size: 14px; }

@media (max-width: 652px) {
  .uedbody {
    width: 100%; }
    .uedbody .wrapper {
      width: calc(100% - 20px); }
      .uedbody .wrapper .wra_body .online .imagelist .list li {
        margin: 0px 0px 5px 5px; }
    .uedbody .wra-btn-group {
      padding: 10px 10px 10px 0px; } }

/*# sourceMappingURL=upload.css.map */
