<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2" for="c-place">{:__('Place')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-place" class="form-control" type="text" value="{$placeList['index']}" readonly="readonly">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::select('row[type]',$typeList,'box')}
        </div>
    </div>
    <div class="form-group " id="div-select-box">
        <label class="control-label col-xs-12 col-sm-2">{:__('box')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_id" data-rule="" data-source="box/box/selectpage" data-field="box_name" class="form-control selectpage" name="row[box]" type="text" value="">
        </div>
    </div>
    <div class="form-group " id="div-link">
        <label class="control-label col-xs-12 col-sm-2" id="label-value-title">{:__('Link')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-value" data-rule="" class="form-control" name="row[link]" type="text" value="">
        </div>
    </div>
    <div class="form-group " id="div-word">
        <label class="control-label col-xs-12 col-sm-2">{:__('Word')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-text" class="form-control editor" rows="10" name="row[word]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="radio">
                {:Form::radios('row[status]',$statusList,'normal')}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[weigh]" type="number" value="100">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
