<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Boxid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-boxid" data-rule="required" class="form-control" name="row[boxid]" type="number" value="{$row.boxid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Boxgoods')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-boxgoods" data-rule="required" class="form-control" name="row[boxgoods]" type="text" value="{$row.boxgoods|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zzuser')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zzuser" data-rule="required" class="form-control" name="row[zzuser]" type="text" value="{$row.zzuser|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Szuser')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-szuser" class="form-control" name="row[szuser]" type="text" value="{$row.szuser|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zhuanztime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zhuanztime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[zhuanztime]" type="text" value="{:$row.zhuanztime?datetime($row.zhuanztime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zzid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zzid" class="form-control" name="row[zzid]" type="number" value="{$row.zzid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zzimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-zzimage" class="form-control" size="50" name="row[zzimage]" type="text" value="{$row.zzimage|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-zzimage" class="btn btn-danger faupload" data-input-id="c-zzimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-zzimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-zzimage" class="btn btn-primary fachoose" data-input-id="c-zzimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-zzimage"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-zzimage"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
